.tovisit {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.Activités {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "vieux fort parcvertical notre"
    "vieux ile parcvertical parc";
  gap: 3px;
  justify-content: space-around;
}

.images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.vieux {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.oneline {
  display: grid;
}

.fort {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.ile {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.parc {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.notre {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.parcvertical {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.imagebox {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0.2em;
}

.mobilesize {
  display: none;
}

.Marseille {
  margin: 0.5em;
}

a.target {
  flex-grow: 1;
}
